flask>=2.2.5
werkzeug>=2.2.2
pdf2image>=1.16.3  # Alternative for PDF to image conversion
pytesseract>=0.3.13  # Will try to use system tesseract if available
pillow>=10.2.0
pymupdf>=1.23.0 --only-binary :all:  # Force pre-built wheel
gunicorn==20.1.0
